<header>
  <div class="logo"><a href="/webhook">Fame Nearby Now Dashboard</a></div>
  <ul class="nav">
    <li><a href="/webhook">Dashboard</a></li>
    <li><a href="/webhook/stats">Statistics</a></li>
    <li><a href="/webhook/map">Live Map</a></li>
    <li><a href="/webhook/import">Import</a></li>
    <li><a href="/webhook/contact">Contact</a></li>
    <li><a href="/webhook/settings">Settings</a></li>
  </ul>
</header>
