<header>
  <div class="logo"><a href="/nn-admin">Fame Nearby Now Dashboard</a></div>
  <ul class="nav">
    <li><a href="/nn-admin">Dashboard</a></li>
    <li><a href="/nn-admin/stats">Statistics</a></li>
    <li><a href="/nn-admin/import">Import</a></li>
  </ul>
</header>
