<aside>

  <div class="logo">
    <a href="/"><img src="/img/fame_logo.png" alt="Fame Marketing"></a>
  </div>

    <div class="sidebarList sidebarServices">
      <a href="/">
        <i class="fa-solid fa-home"></i> Dashboard
      </a>
      <a href="/nearby-now">
        <img src="/img/nn-icon.png" alt=""> Nearby Now
      </a>
      <a href="/forms">
        <i class="fa-solid fa-list"></i> Form Submissions
      </a>
    </div>

    <div class="sidebarList dashboardOther">
      <a href="https://buildingmaterialliquidation.net/">
        <i class="fa-solid fa-arrow-up-right-from-square"></i> Visit Site
      </a>

      <a href="/settings">
        <i class="fa-solid fa-cog"></i> Settings
      </a>
    </div>

</aside>