<aside>

  <div class="logo">
    <a href="/fame-admin"><img src="img/fame_logo.png" alt="Fame Marketing"></a>
  </div>

    <div class="sidebarList sidebarServices">
      <a href="/fame-admin">
        <i class="fa-solid fa-home"></i> Dashboard
      </a>
      <a href="/fame-admin/nearby-now">
        <img src="img/nn-icon.png" alt=""> Nearby Now
      </a>
      <a href="/fame-admin/forms">
        <i class="fa-solid fa-list"></i> Form Submissions
      </a>
    </div>

    <div class="sidebarList dashboardOther">
      <a href="/fame-admin">
        <i class="fa-solid fa-arrow-up-right-from-square"></i> Visit Site
      </a>

      <a href="/fame-admin/settings">
        <i class="fa-solid fa-cog"></i> Settings
      </a>
    </div>

</aside>