<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <meta name="description" content="{{description}}" />
    <link rel='stylesheet' href='/css/style.css' />
    <!-- add your sites html code here. -->
  </head>
  <body>
    {{{body}}}
    <script src="/js/scripts.js"></script>
  </body>
</html>
