<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
  <meta name="description" content="{{description}}" />
  <link rel='stylesheet' href='/css/style.css' />
  <!-- add your sites html code here. -->
</head>
<body>
{{{body}}}
<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap"
        async defer></script>
<script src="/js/scripts.js"></script>
<script src="/js/map.js"></script>
</body>
</html>