<div class="adminWrapper">

  <div class="dashboardPage">
    <div class="dashboardBody">

      <h1>Welcome to Your Fame Marketing Experience</h1>

      <div class="dashboardServiceList">
        <a href="nearby-now" class="dashboardService">
          <img src="img/nn-icon-dark.png" alt=""> Nearby Now
        </a>
        <a href="forms" class="dashboardService">
          <i class="fa-solid fa-list"></i> Form Submissions
        </a>
      </div>

    </div>
  </div>

</div>
<script src="/js/dashboard.js"></script>
