<div class="adminWrapper">

  <div class="dashboardPage">
    <div class="dashboardBody">

      {{authenticated}}

      <h1>Welcome to Your Fame Marketing Experience</h1>

      <div class="dashboardServiceList">
        <a href="/fame-admin/forms" class="dashboardService">
          <i class="fa-solid fa-list"></i> Form Submissions
        </a>
      </div>

    </div>
  </div>

</div>
<script src="js/dashboard.js"></script>
