<div class="adminWrapper">

  {{> header }}

  <div class="adminContent">
    <div class="adminContent_pages adminContent_section">
      {{> pagesInfo }}
    </div>
    <div class="adminContent_events adminContent_section">
      {{> eventsInfo }}
    </div>
    <div class="adminContent_locations adminContent_section">
      {{> locationsInfo }}
    </div>
  </div>
</div>
