<div class="adminWrapper">
  <header>
    <div class="logo">Fame Nearby Now Dashboard</div>
    <ul class="nav">
      <li><a href="/webhook/import">Import</a></li>
      <li><a href="/webhook/contact">Contact</a></li>
    </ul>
  </header>

  <div class="adminContent">
    <div class="adminContent_pages">
      {{> pagesInfo }}
    </div>
    <div class="adminContent_events">
      {{> eventsInfo }}
    </div>
    <div class="adminContent_locations">
      {{> locationsInfo }}
    </div>
  </div>
</div>
