<div class="adminWrapper">

  {{> header }}

  <div class="adminContent dashboard">
    <div class="adminContent_pages adminContent_section">
      {{> pagesInfo }}
    </div>
    <div class="adminContent_events adminContent_section">
      {{> recentEventsInfo }}
    </div>
  </div>
</div>
