
<div class="statsWrapper">

  {{> header }}

  <h1 class="left">Data Test</h1>
  <p>This page is in early development</p>

  <div class="statsContent">
    <div id="adminContent_messages"></div>

    <div class="adminContent_section adminContent_swap" data-swap="employees" data-visibility="visible">
      This will hopefully be a json display of the nearby now data with all html assumption removed.
    </div>

  </div>

</div>
