<div class="importWrapper">
  <h1>{{title}}</h1>

  <form action="/webhook/import/submit" method="post" enctype="multipart/form-data" class="importForm">

    <label for="file">Select a cvs file containing properly formatted Nearby Now Data</label>
    <select name="type" id="type" required>
      <option value="checkins" selected>checkins</option>
      <option value="reviews">reviews</option>
      <option value="customers">customers</option>
    </select>
    <input type="file" id="file" name="file" accept=".csv" required>
    <div class="fileDetails"></div>
    <div>
      <button>Submit</button>
    </div>

  </form>
</div>