<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/css/style.css' />
    <!-- add your sites html code here. -->
  </head>
  <body>
    {{{body}}}
  </body>
</html>