<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/webhook/css/style.css' />
    <!-- add your sites html code here. -->
  </head>
  <body>
    {{{body}}}
    <script src="/webhook/js/custom.js"></script>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="/webhook/js/validate.js"></script>
  </body>
</html>