<div class="adminWrapper">

  <div class="adminContent dashboard">

    <div class="pageActions">
      <a href="/fame-admin/nearby-now/import" class="action-btn">Import Events</a>

      <a href="/fame-admin/nearby-now/wordpress" class="action-btn">Test Wordpress</a>
    </div>

    <div class="adminContent_pages adminContent_section">
      {{> pagesInfo }}
    </div>
    <div class="adminContent_events adminContent_section">
      {{> recentEventsInfo }}
    </div>
  </div>
</div>
<script src="/fame-admin/js/dashboard.js"></script>
