<div class="adminWrapper">

  <div class="adminContent dashboard">

    <div class="pageActions">
      <a href="nearby-now/import" class="action-btn">Import Events</a>
    </div>

    <div class="adminContent_pages adminContent_section">
      {{> pagesInfo }}
    </div>
    <div class="adminContent_events adminContent_section">
      {{> recentEventsInfo }}
    </div>
  </div>
</div>
<script src="js/dashboard.js"></script>
