<div class="adminWrapper">

  <div class="adminContent settingsPage">

    <h2>Settings Page <i class="fas fa-cog"></i></h2>

    <div class="settingsList">
      <div id="settingsGroup">
        <button id="scanDirForPages" class="button action-button nnSetting">Update Page Data</button>
      </div>
    </div>

  </div>

</div>

<script src="js/settings.js"></script>
