
<div class="statsWrapper">

  {{> header }}

  <h1 class="left">Stats Page</h1>

  <div class="statsContent">
    {{> stats/subheader }}

    <div id="adminContent_messages"></div>

    <div class="adminContent_section adminContent_swap" data-swap="employees" data-visibility="visible">
      <h2>Employee Stats</h2>
      <div class="adminContent_chart employeeChart" style="position:relative;height:50vh;width:100%">
        <canvas id="employeeChart"></canvas>
      </div>
    </div>

    <div class="adminContent_section adminContent_swap" data-swap="locations" data-visibility="hidden">
      <h2>Location Stats</h2>
    </div>

    <div class="adminContent_section adminContent_swap" data-swap="reviews" data-visibility="hidden">
      <h2>Reviews Stats</h2>
    </div>

  </div>

</div>
