
<div class="statsWrapper">

  {{> header }}

  <h1 class="left">Statistics</h1>
  <p>This page is in early development</p>

  <div class="statsContent">
    {{> stats/subheader }}

    <div id="adminContent_messages"></div>

    <div class="adminContent_section adminContent_swap" data-swap="employees" data-visibility="visible">
      <h2>Employee Stats</h2>
      <div class="adminContent_chart employeeChart" style="position:relative;height:50vh;width:100%">
        <canvas id="employeeChart"></canvas>
      </div>
    </div>

  </div>

</div>
