* {
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
}
.adminWrapper {
  min-height: 100vh;
  background: #eaeaea;
  display: grid;
  grid-template-rows: auto 1fr;
}
a {
  color: #397ce2;
  text-decoration: none;
}
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration:none
}
p {
  text-align: center;
}
h1 {
  text-align: center;
}
.left {
  text-align: left;
  padding-left: 15px;
}
h4 {
  margin: 20px 0 50px;
  text-align: center;
  width: 444px;
  line-height: 1.7em;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

/* Header Styles */
header {
  display: grid;
  grid-template-columns: [logo] auto [nav] auto;
  align-items: center;
  height: 80px;
  box-shadow: 0 0 7px #000000ad;
  background: #3d3e42;
}
.logo {
  padding-left: 25px;
}
.nav {
  text-align: right;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav li {
  border-left: 3px solid #737684;
  height: 100%;
}
.nav li a {
  padding: 0px 36px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: .8rem;
  letter-spacing: .5px;
  font-weight: 100;
  text-transform: uppercase;
}
header a{
  color: #fff;
}

/* Subheader Styles */
.subheader ul {
  display: flex;
}
.subheader li {
  padding: 15px 33px;
  text-transform: uppercase;
  font-weight: 600;
}

/* Dashboard Styles */
.adminContent {
  padding: 50px 15px 50px;
}
.adminContent.dashboard {
  display: flex;
}
.adminContent_section {
  padding: 10px;
  position: relative;
}
.adminContent_pages {
  width:60%;
}
.adminContent_events {
  width: 40%;
}
.adminContent_cont {
  background: #fff;
  padding: 5px 27px;
  box-shadow: 0 0 10px -5px #0000006b;
}
.recentPages_list {
  padding-left: 0;
}
.dashboard li {
  display: grid;
  padding: 15px;
}

.pagesTools {
  position: absolute;
  top: 15px;
  right: 15px;
}

#pagesTools_menu {
  background: linear-gradient(45deg, #42a0c3, #5477f6);
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-15px);
  transition: transform .2s;
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 30;
  color: #fff;
  font-weight: 700;
  padding: 10px 15px;
}

#pagesTools_opener:hover svg {
  transform:rotate(60deg);
  transition: transform .2s;
}

.tableHeading {
  font-weight:700;
  font-size:1.1rem
}
.recentPage, .pageListHeading  {
  grid-template-columns:
    1fr [city]
    80px [state]
    1fr [url]
    100px [checkins]
    100px [reviews]
    1fr [creationDate]
    1fr [validate]
}
.recentEvents_item, .recentEventsHeading {
  grid-template-columns:
    104px [type]
    1fr [time]
    1fr [employee]
    1fr [location]
}
.dashboard strong {
  padding-bottom: 5px;
  display: inline-block;
}
.dashboard li span {
  width: 100%;
  padding: 0 5px;
}
.locationsInfo {
  display: flex;
}
.locationsListWrapper {
  width: 50%;
}
.btn {
  margin: 0;
  margin-left: auto;
  overflow: hidden;
  position: relative;
  z-index: 4;
}
.btn:not([disabled]) {
  cursor: pointer;
}
.btn:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background: #3c82ca;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 500ms cubic-bezier(0.905, -0.055, 0.545, 1.080);
}
.btn.verified:before {
  transform: translateX(0);
}
.btn.verified {
  color: #353535;
}

/* Dashboard Styles */
.pendingEventsCounter {
  margin-bottom: 1em;
  text-align:right;

}

/* Import Styles */
.importWrapper {
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
}
.importContent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.importContent h1 {
  margin: 0;
}
.fileDetails {
  display: none;
  text-align: center;
  padding: 10px 0;
}
.inputWrapper {
  text-align: center;
  position: relative;
  width:250px;
  margin:auto
}
.importForm {
  position: relative;
  background:#ed1c24;
  border-radius: 3px;
  padding: 50px 25px;
  color: #fff;
  width: 444px;
  box-shadow: 3px 3px 11px -3px #000;
}
.importForm::before {
  content: "";
  position: absolute;
  top: -29px;
  right: -29px;
  bottom: -29px;
  left: -29px;
  z-index: -5;
  background: #e6e6e6;
  border-radius: 4px;
  box-shadow: inset 0 0 8px #fff;
}
label {
  width: 100%;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
label[for="file"] {
  background: #333;
  padding: 10px;
}
select, input {
  display: block;
  width: 100%;
  margin: auto;
  height: 30px;
  display:none
}
select:active, select:focus,
input:active, input:focus {
  border: none;
}
input[type="file"] {
  font-size: 0;
  margin-bottom: 30px;
}
#select-items {
  position: absolute;
  visibility: visible;
  opacity: 1;
  width:100%;
  z-index: 10;
  overflow: hidden;
}
#select-items.select-hide {
  visibility: hidden;
  opacity: 0;
}
.inputWrapper.selectWrapper {
  margin-bottom: 20px;
}
.inputWrapper div {
  font-size: 1.2rem;
}
#select-selected {
  padding: 10px;
  background: #333;
}
#select-items div {
  padding: 10px;
  background: #555;
  border-top: 1px solid #444;
}
button {
  display: block;
  margin: auto;
  background: #ececec;
  border: none;
  padding: 7px 25px;
  margin-top: 10px;
}
.validateBtn {
  background: #e23b3b;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

/* Settings Styles */
.nnSetting {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}

/* Stats Styles */
.employeeChart {
  height:500px;
  position: relative;
  width:100%;
  padding: 0 50px;
}
.adminContent_section[data-visibility="hidden"] {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
.adminContent_section[data-visibility="visible"] {
  visibility: visible;
  opacity: 1;
}
.adminContent_section[data-visibility] {
  transition: opacity .7s;
}

/* map styles */

div#adminContent_map {
  height: 500px;
}
