* {
  box-sizing: border-box;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #eaeaea;
  display: grid;
  grid-template-areas: "aside body";
  grid-template-columns: 300px auto;
}
a {
  color: #fff;
  text-decoration: none;
}
a:hover,
a:focus,
a:active,
a:visited {
  text-decoration:none
}
.left {
  text-align: left;
  padding-left: 15px;
}
h4 {
  margin: 20px 0 50px;
  text-align: center;
  width: 444px;
  line-height: 1.7em;
}
ul {
  list-style-type: none;
  padding-left: 0;
}

/* Header Styles */
header {
  grid-area: header;
  display: grid;
  grid-template-columns: [logo] auto [nav] auto;
  align-items: center;
  height: 60px;
  box-shadow: 0 0 7px #000000ad;
  background: #3d3e42;
}
aside {
  grid-area: aside;
  background: #241f20;
  border-left: 10px solid red;
  box-shadow: inset 10px 0 #fff;
  padding: 0 20px 20px 30px;
  display: grid;
  grid-template-rows: auto 1fr 1fr;
}
h1 {
  font-size: 2em;
}
.logo {
  margin: auto 0;
  padding: 0;
  font-size: 1.4em;
  font-weight: 700;
  display: flex;
  align-items: center;
  gap: 14px;
}
.logo img {
  width: 130px;
  padding: 20px 0;
}
.nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap:15px
}
.nav svg {
  margin-right: 10px;
}
.nav li a {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: .8rem;
  letter-spacing: .5px;
  font-weight: 100;
  text-transform: uppercase;
}
header a{
  color: #fff;
}

/* Sidebar Styles */
.sidebarList {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.sidebarList img {
  height: 1.3em;
}
.sidebarList svg, .sidebarList img {
  margin-right: 10px;
}
.sidebarList.dashboardOther {
  justify-content: flex-end;
}
.sidebarService {
  background: #fff;
  padding: 5px 27px;
  box-shadow: 4px 4px 10px -5px #0000006b;
  border-radius: 4px;
  width: 33%;
}

/* Dashboard Styles */
.dashboardServices {
  background: #ffffff;
  padding: 5px 27px;
  box-shadow: 4px 4px 10px -5px #0000006b;
  border-radius: 4px;
  width: 25%;
  display: flex;
  flex-direction: column;
}
.adminWrapper {
  min-height: 100vh;
  grid-area: body;
}
.adminContent {
  padding: 50px 15px 50px;
}
.dashboardBody h1 {
  margin-bottom:70px
}
.adminContent.dashboard {
  display: flex;
  flex-wrap:wrap;
}
.pageActions {
  width:100%;
  text-align: right;
}
.action-btn {
  background: #fff;
  padding: 12px 25px;
  color: #333;
  text-transform: uppercase;
  font-weight: 600;
}
.adminContent_section {
  padding: 10px;
  position: relative;
}
.adminContent_pages {
  width:60%;
}
.adminContent_events {
  width: 40%;
}
.dashboardService {
  background: #ffffff;
  color:#333;
  padding: 25px;
  box-shadow: 4px 4px 10px -5px #0000006b;
  border-radius: 4px;
  gap: 20px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.3em;
}
.dashboardService img,
.dashboardService svg {
  width: 50px;
  height: 50px;
  color: #232323;
}
.recentPages_list {
  padding-left: 0;
}
.dashboardPage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.dashboardServiceList {
  display: flex;
  gap: 30px;
  width: 100%;
}
.dashboardBody {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
}
.dashboard li {
  display: grid;
  padding: 15px;
  align-items: center;
  border-bottom: 1px solid #ccc;
}
.dashboard li:last-child {
  border-bottom: 0px;
}
.recentPage:hover,
.recentEvents_item:hover {
  box-shadow: inset 0 0 4px -1px #3d3e42
}
.pagesTools {
  position: absolute;
  top: 15px;
  right: 15px;
}
#pagesTools_menu {
  background: linear-gradient(45deg, #42a0c3, #5477f6);
  width: max-content;
  opacity: 0;
  visibility: hidden;
  transform: translateY(-15px);
  transition: transform .2s;
  position: absolute;
  right: 0;
  top: 36px;
  z-index: 30;
  color: #fff;
  font-weight: 700;
  padding: 10px 15px;
}

#pagesTools_opener:hover svg {
  transform:rotate(60deg);
  transition: transform .2s;
}

/*
  Entry Table Styles (such as form submissions, nearby now events, or other data that is displayed in a table style)
*/
.table li {
  display:grid;
}
.tableHeading {
  font-weight:700;
  font-size:1.1rem
}
.recentPage, .pageListHeading  {
  grid-template-columns:
    1fr [city]
    80px [state]
    1fr [url]
    100px [checkins]
    100px [reviews]
    1fr [creationDate]
    1fr [validate]
}
.recentEvents_item, .recentEventsHeading {
  grid-template-columns:
    104px [type]
    1fr [time]
    1fr [employee]
    1fr [location]
}
.dashboard strong {
  padding-bottom: 5px;
  display: inline-block;
}
.recentPage_url a {
  color:#3c82ca;
}
.dashboard li span {
  width: 100%;
  padding: 0 5px;
}
.locationsInfo {
  display: flex;
}
.locationsListWrapper {
  width: 50%;
}
.btn {
  margin: 0;
  margin-left: auto;
  overflow: hidden;
  position: relative;
  z-index: 4;
}
.btn:not([disabled]) {
  cursor: pointer;
}
.btn:before {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  background: #3c82ca;
  z-index: -1;
  transform: translateX(-100%);
  transition: transform 500ms cubic-bezier(0.905, -0.055, 0.545, 1.080);
}
.btn.verified:before {
  transform: translateX(0);
}
.btn.verified {
  color: #353535;
}

/*
  Form Submissions List Styles
 */

.formList_section {
  width:100%
}

.formsList li {
  grid-template-columns:
    minmax(200px, 1fr) [SubmissionDate]
    minmax(170px, 1fr) [Name]
    minmax(100px, 1fr) [Phone]
    minmax(100px, 1fr) [Email]
    minmax(100px, 1fr) [DogName]
    minmax(100px, 1fr) [City]
    minmax(90px, 1fr) [Consnet]
    minmax(115px, 1fr) [SpamScore]
}
.formsList li span {
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Dashboard Styles */
.pendingEventsCounter {
  margin-bottom: 1em;
  text-align:right;

}

/* Import Styles */
.importWrapper {
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
}
.importContent {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.importContent h1 {
  margin: 0;
}
.fileDetails {
  display: none;
  text-align: center;
  padding: 10px 0;
}
.inputWrapper {
  text-align: center;
  position: relative;
  width:250px;
  margin:auto
}
.importForm {
  position: relative;
  background:#ed1c24;
  border-radius: 3px;
  padding: 50px 25px;
  color: #fff;
  width: 444px;
  box-shadow: 3px 3px 11px -3px #000;
}
.importForm::before {
  content: "";
  position: absolute;
  top: -29px;
  right: -29px;
  bottom: -29px;
  left: -29px;
  z-index: -5;
  background: #e6e6e6;
  border-radius: 4px;
  box-shadow: inset 0 0 8px #fff;
}
label {
  width: 100%;
  display: inline-block;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;
}
label[for="file"] {
  background: #333;
  padding: 10px;
}
select, input {
  display: block;
  width: 100%;
  margin: auto;
  height: 30px;
  display:none
}
select:active, select:focus,
input:active, input:focus {
  border: none;
}
.importForm button {
  display:block;
}
input[type="file"] {
  font-size: 0;
  margin-bottom: 30px;
}
#select-items {
  position: absolute;
  visibility: visible;
  opacity: 1;
  width:100%;
  z-index: 10;
  overflow: hidden;
}
#select-items.select-hide {
  visibility: hidden;
  opacity: 0;
}
.inputWrapper.selectWrapper {
  margin-bottom: 20px;
}
.inputWrapper div {
  font-size: 1.2rem;
}
#select-selected {
  padding: 10px;
  background: #333;
}
#select-items div {
  padding: 10px;
  background: #555;
  border-top: 1px solid #444;
}
button {
  display: inline-block;
  margin: auto;
  background: #ececec;
  border: none;
  padding: 7px 25px;
  margin-top: 10px;
}
.action-button {
  background: #fff;
  box-shadow: 2px 2px 3px 0 #00000026;
  transition: box-shadow .4s;
}
.action-button:hover {
  box-shadow: none;
}
.validateBtn {
  background: #e23b3b;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
}

/* Settings Styles */
.nnSetting {
  padding: 10px;
  display: inline-block;
  cursor: pointer;
}
.notificationsWrapper {
  position: fixed;
  bottom: 15px;
  right: 15px;
  transition: transform .5s;
  transform: translateX(100%);
  display: flex;
  visibility: hidden;
  box-shadow: 2px 2px 10px #00000052;
}
.notificationsBox {
  height: 300px;
  width: 300px;
  background: linear-gradient(45deg, #42a0c3, #5477f6);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 700;
  font-size: 1.2rem;
}
#notificationsCloseBtn {
  position: absolute;
  left: 7px;
  top: 2px;
  color: #fff;
  font-size: 1.7rem;
  cursor: pointer;
}

/* Stats Styles */
.employeeChart {
  height:500px;
  position: relative;
  width:100%;
  padding: 0 50px;
}
.adminContent_section[data-visibility="hidden"] {
  visibility: hidden;
  opacity: 0;
  position: absolute;
}
.adminContent_section[data-visibility="visible"] {
  visibility: visible;
  opacity: 1;
}
.adminContent_section[data-visibility] {
  transition: opacity .7s;
}

/* map styles */

div#adminContent_map {
  height: 500px;
}
